<div class="panels">
	<div class="inner-width">
		<h2 class="selection-title">Панель адміністрування</h2>
		<div class="border-panel-box"></div>

		<div class="panel-selection">
			<div class="panel-box">
				<h2 class="panel-title">Додавання товару</h2>
				<div class="panel-box-img">
					<i class="fas fa-plus"></i>
				</div>

				<div class="late-products-btn-section">
					{{#link-to "admin-panel.add-product" class="panel-btn"}}Додати товар{{/link-to}}
				</div>
			</div>

			<div class="panel-box">
				<h2 class="panel-title">Видалення товару</h2>
				<div class="panel-box-img">
					<i class="fas fa-trash"></i>
				</div>

				<div class="late-products-btn-section">
					{{#link-to "admin-panel.delete-product" class="panel-btn"}}Видалити{{/link-to}}
				</div>
			</div>

			<div class="panel-box">
				<h2 class="panel-title">Змінення товару</h2>
				<div class="panel-box-img">
					<i class="fas fa-pen"></i>
				</div>

				<div class="late-products-btn-section">
					{{#link-to "admin-panel.update-product" class="panel-btn"}}Змінити{{/link-to}}
				</div>
			</div>

			<div class="panel-box">
				<h2 class="panel-title">Замовлення</h2>
				<div class="panel-box-img">
					<i class="fas fa-shopping-cart"></i>
				</div>

				<div class="late-products-btn-section">
					{{#link-to "admin-panel.order-history" class="panel-btn"}}Переглянути замовлення{{/link-to}}
				</div>
			</div>

			<div class="panel-box">
				<h2 class="panel-title">Питання</h2>
				<div class="panel-box-img">
					<i class="fas fa-envelope"></i>
				</div>

				<div class="late-products-btn-section">
					{{#link-to "admin-panel.questions" class="panel-btn"}}Переглянути питання{{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div>

