<div class="product-box">
	<img class="products-box-img" alt="Зображення товару" src={{image}}>
	<h3 class="products-title">
		{{title}}
	</h3>

	<div class="products-btn-section">
		<a {{action "deleteProduct"}} class="product-btn-details">Видалити<i class="fas fa-trash"></i></a>
	</div>
</div>