<div class="main-about-us-banner">
	<div class="inner-width">
		<div class="banner-title-selection-top">
			<h2 class="banner-about-us-title">Про наш інтернет-магазин</h2>
		</div>

		<div class="banner-title-selection-middle">
			<h2 class="banner-about-us-title">Вітаємо вас на нашому сайті!</h2>
		</div>

		<div class="banner-title-selection-bottom">
			<h2 class="banner-about-us-title">Цей розділ створено для тих, хто вперше відвідав наш сайт і хоче ближче познайомитися з нами, перш ніж рухатися далі по розділах.</h2>
		</div>
	</div>
</div>

<div class="information-selection-first">
	<div class="about-us-banner">
		<img class="about-us-banner-image" src="images/internet-market.jpg">
	</div>

	<div class="about-us-information">
		<div class="about-us-title">
			<h2>Короткий опис інтернет-магазину</h2>
		</div>

		<div class="about-us-description">
			На сьогоднішній день інтернет-магазин Guitar House є одним з найпопулярніших і швидко розвиваємих в Україні магазинів з продажу щипкових музичних інструментів. З кожним днем нас відвідує все більше і більше клієнтів, зацікавлених в якісному обслуговуванні, швидкій доставці товару і надійному сервісі, що ми зі свого боку гарантуємо кожному покупцеві.
		</div>
	</div>
</div>

<div class="information-selection-second">
	<div class="about-us-information">
		<div class="about-us-title">
			<h2>Сервіс</h2>
		</div>

		<div class="about-us-description">
			Всього, що ми зараз маємо, ми досягли завдяки індивідуальному підходу до кожного клієнта, розумній ціновій політиці, широкому асортименту товарів, що є в нашому інтернет-магазині, і відмінному сервісу. Наші консультанти дадуть відповідь на будь-яке ваше запитання стосовно товару, яким торгує наш інтернет-магазин. Дзвонить у будь-який час, ми завжди відповідаємо на ваши дзвінки.
		</div>
	</div>

	<div class="about-us-banner">
		<img class="about-us-banner-image" src="images/service.jpg">
	</div>
</div>

<div class="information-selection-first">
	<div class="about-us-banner">
		<img class="about-us-banner-image" src="images/popular.jpg">
	</div>

	<div class="about-us-information">
		<div class="about-us-title">
			<h2>Наш інтернет-магазин популярний серед людей</h2>
		</div>

		<div class="about-us-description">
			Кожен день наш сайт відвідує величезна кількість унікальних відвідувачів, і їх число постійно зростає. Ми вирішили не зупинятися на досягнутому і продовжуємо нарощувати обороти, прагнучи стати кращим в Україні магазином, що надає повний спектр товарів. Наш інтернет-магазин - місце, де ви зможете вибрати і придбати товар, який вам сподобався - усвідомлено, недорого і зручно.
		</div>
	</div>
</div>

<div class="information-selection-second">
	<div class="about-us-information">
		<div class="about-us-title">
			<h2>Купівля</h2>
		</div>

		<div class="about-us-description">
			Для того, щоб оформити замовлення на сайті, треба натиснути на кнопку "Купити", ця кнопка знаходить біля кожного товару. При замовленні товару просто заповніть швидку форму замовлення, після чого ви отримаєте смс-повідомлення з номером замовлення, яке підтверджує, що замовлення зроблений успішно, також з вами обов'язково зв'яжеться наш менеджер. Також можна замовити товар по телефону, який є у нижній частині сайту на кожній сторінці.
		</div>
	</div>

	<div class="about-us-banner">
		<img class="about-us-banner-image" src="images/order.jpg">
	</div>

</div>

<div class="information-selection-first">
	<div class="about-us-banner">
		<img class="about-us-banner-image" src="images/delivery-truck.jpg">
	</div>

	<div class="about-us-information">
		<div class="about-us-title">
			<h2>Доставка</h2>
		</div>

		<div class="about-us-description">
			Для вашої зручності всі товари в нашому інтернет-магазині продаються з доставкою і супроводжуються гарантією, яка підтверджується фірмовим гарантійним талоном з мокрою печаткою. Погодженне з вами замовлення буде доставлено кур'єром до під'їзду або на найближчого відділення Нової Пошти протягом 1-3 днів. Наш кур'єр попередньо передзвонить і уточнить час і адресу доставки. При сумі замовлення понад 1500 грн. доставка здійснюється безкоштовно.
		</div>
	</div>
</div>

<div class="information-selection-second">
	<div class="about-us-information">
		<div class="about-us-title">
			<h2>Гарантія</h2>
		</div>

		<div class="about-us-description">
			Товари, представлені в магазині Guitar House, мають всі необхідні сертифікати від офіційних торгових марок і підлягають гарантійному обслуговуванню і заміні. При купівлі товару у нас, ви станете володарем не тільки якісного продукту, але і отримаєте на руки чек, гарантійний талон, паспорт на товар (якщо передбачено виробником) і найкращі побажання від нашого магазину. Навіть після завершення угоди, Ви можете звернутися до наших менеджерів з усіма, які Вас цікавлять, щодо отриманого товару.
		</div>
	</div>

	<div class="about-us-banner">
		<img class="about-us-banner-image" src="images/warranty.jpg">
	</div>
</div>

{{outlet}}