<div class="main-catalog-banner">
	<div class="inner-width">
		<div class="banner-title-selection-top">

		</div>

		<div class="banner-title-selection-middle">
			<h2 class="banner-catalog-title">В наш час дуже багато людей мають інтерес к такому чудовому музикальному інструменту як гітара. Гітара - це як хороший друг, легко перенести з кімнати в кімнату, від хати до хати. Якщо ви граєте на гітарі, ви повністю щасливі. Зважаючи на те, яку популярність набирає цей вид музикального іструменту ми надаємо вам обширний каталог товарів з багатим вибором інструментів. </h2>
		</div>

		<div class="banner-title-selection-bottom">

		</div>
	</div>
</div>

<div class="catalog-selection-first">
	<div class="catalog-banner">
		<img class="catalog-banner-image" src="/images/catalog-banners/classic-guitar-banner.jpg">
	</div>

	<div class="catalog-information">
		<div class="catalog-title">
			<h2>Класичні гітари</h2>
		</div>

		<div class="catalog-description">
			 В нашому асортименті ви зможете знайти та придбати класичні гітари багатьох відомих брендів по доступним цінам. В нашому каталозі присутні класичні гітари наступних брендів: Yamaha, Cort, Admira, Taylor guitar та інші.
		</div>

		<div class="catalog-button">
			{{#link-to "classic-guitar" class="show-details-btn"}}Перейти до каталогу{{/link-to}}
		</div>

	</div>
</div>

<div class="catalog-selection-second">
	<div class="catalog-information">
		<div class="catalog-title">
			<h2>Електрогітари</h2>
		</div>

		<div class="catalog-description">
			 В нашому асортименті ви зможете знайти та придбати електрогітари багатьох відомих брендів по доступним цінам. В нашому каталозі присутні електрогітари наступних брендів: Fender, Fernandes, Cort та інші.
		</div>

		<div class="catalog-button">
			{{#link-to "electroguitar" class="show-details-btn"}}Перейти до каталогу{{/link-to}}
		</div>

	</div>

	<div class="catalog-banner">
		<img class="catalog-banner-image" src="/images/catalog-banners/electroguitar-banner.jpg">
	</div>
</div>

<div class="catalog-selection-first">
	<div class="catalog-banner">
		<img class="catalog-banner-image" src="/images/catalog-banners/acoustic-guitar-banner.jpg">
	</div>

	<div class="catalog-information">
		<div class="catalog-title">
			<h2>Акустичні гітари</h2>
		</div>

		<div class="catalog-description">
			В нашому асортименті ви зможете знайти та придбати акустичні гітари багатьох відомих брендів по доступним цінам. В нашому каталозі присутні акустичні гітари наступних брендів: Yamaha, Cort, Lag та інші.
		</div>

		<div class="catalog-button">
			{{#link-to "acoustic-guitar" class="show-details-btn"}}Перейти до каталогу{{/link-to}}
		</div>

	</div>
</div>

<div class="catalog-selection-second">
	<div class="catalog-information">
		<div class="catalog-title">
			<h2>Бас-гітари</h2>
		</div>

		<div class="catalog-description">
			 В нашому асортименті ви зможете знайти та придбати бас-гітари багатьох відомих брендів по доступним цінам. В нашому каталозі присутні бас-гітари наступних брендів: Fenader, Fernandes, Cort та  Yamaha.
		</div>

		<div class="catalog-button">
			{{#link-to "bass-guitar" class="show-details-btn"}}Перейти до каталогу{{/link-to}}
		</div>

	</div>

	<div class="catalog-banner">
		<img class="catalog-banner-image" src="/images/catalog-banners/bass-guitar-banner.jpg">
	</div>
</div>
{{outlet}}
